%overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin overlay() {
  @extend %overlay;
}

%loader {
  content: '';
  position: relative;
  height: 16px;
  width: 16px;
  display: block;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
}

@mixin loader() {
  @extend %loader;
}