$unicred-button-text-color: #FFF;

// TODO: Globalizar esse map de colors
$colors: (
  primary: (#008777, #0A7265, #FFF),
  secondary: (#48D2A0, #3CA581, #FFF),
  info: (#5098BC, #417D9B, #FFF),
  warning: (#FFBD02, #ECAF01, #FFF),
  danger: (#F54B5E, #C43343, #FFF),
);

.unicred-buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &.-addons {
    .unicred-button:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      margin-right: -1px;
    }
    
    .unicred-button:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.unicred-button {
  height: 40px;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  transition: color .1s linear, border-color .1s linear, background-color .1s linear;
  border: solid 1px #CCCCCC;
  white-space: nowrap;
  color: #fff;// #4A4A4A;
  background-color: transparent;

  &.-small {
    height: 25px;
    width: 25px;
    padding: 0;
  }

  &.-static {
    cursor: default;
  }

  &:hover { 
    text-decoration: none;
    // background-color:
  }

  &[disabled] {
    opacity: 0.5;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-darker: nth($pair, 2);
    $color-invert: nth($pair, 3);
    
    &.-#{$name} {
      background-color: $color;
      border-color: $color;
      color: $color-invert;
  
      &.-outlined {
        background-color: transparent;
        border-color: $color;
        color: $color;
        
      }

      &:not(.-static):not([disabled]):hover {
        background-color: $color-darker;
        border-color: $color-darker;
        color: $color-invert;
        text-decoration: none;
        
      }

      &.-selected {
        background-color: $color;
        border-color: $color;
        color: $color-invert;
      }
    }
  }
}