.unicred-field {
  margin-bottom: 10px;

  > .label {
    display: block;
    width: 100%; 
    font-weight: normal;
    color: #4E4F51;
    font-size: 14px;
    
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  > .control {
    position: relative;
    text-align: left;

    &.-addons {
      display: flex;
      justify-content: flex-start;

      &.-left {
        > .unicred-button {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          margin-right: -1px;
          z-index: 2;
        }
  
        > .input {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }

    > .input {
      border: 1px solid #D5DEDD;
      border-radius: 5px;
      padding: 10px;
      height: 40px;
      font-size: 13px;
      color: #677371;
      background: #FFF;
      max-width: 100%;
      width: 100%;
      font-weight: normal;

      &:focus {
        border-color: #48D2A0;
      }

      &::placeholder {
        color: #A8B3B1;
      }
    }

    > .unicred-button {
      padding: 0 11px;
      width: 41px;
      padding: 0;

      > .fa {
        font-size: 20px;
      }
    }
  }
}