.unicred-alternative-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;

  th {
    padding: 10px 5px;
    font-size: 12px;
    color: #808285;
    font-weight: 500;
    text-transform: uppercase;
  }

  tbody tr {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    border-radius: 5px;

    &.-warning {
      td {
          border-color: #f8c51c;
      }
    }
  }

  td {
    padding: 8px 6px;
    border: 1px solid #cccccc;
    border-style: solid none solid none;
    border-color: #48D2A0;
    text-transform: uppercase;
    color: #4E4F51;
    font-size: 12px;
    
    &:first-child {
      border-left-style: solid;
      border-radius: 5px 0px 0px 5px;  
      padding-left: 22px;
      font-size: 14px;
    }

    &:last-child {
      border-right-style: solid;
      border-radius: 0 5px 5px 0;
    }

    &.action {
      text-align: right;

      .unicred-button {
        margin-left: 10px;
      }
    }
  }
}