.unicred-dropdown {
  position: relative;
  display: inline-block;

  &.open {
    > .unicred-button {
      border-radius: 5px 5px 0 0;
    }
    > .menu {
      opacity: 1;
      visibility: visible;
    }
  }

  > .unicred-button {
    padding-right: 11px;
    z-index: 21;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 5px;
      vertical-align: middle;
      border-top: 7px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }

    // TODO: Globalizar esse map de colors
    $colors: (
      primary: (#008777, #0A7265),
      secondary: (#48D2A0, #3CA581),
      info: (#5098BC, #417D9B),
      warning: (#FFBD02, #ECAF01),
      danger: (#F54B5E, #C43343),
    );

    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      
      &.-#{$name} ~ .menu {
        border-color: $color;
      }
    }
  }

  > .menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    margin: 0;
    width: 100%;
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    background-color: #fff;
    border: 1px solid #008777;
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.18);
    opacity: 0;
    visibility: hidden;

    > .item {
      display: block;
      padding: 8px 15px;
      color: #4E4F51;
      white-space: nowrap;
      cursor: pointer;
      border-bottom: 1px solid #D5DEDD;

      &:last-child {
        border-bottom-color: transparent;
        border-radius: 0 0 5px 5px;
      }

      &:hover {
        background-color: #D5DEDD;
      }
    }
  }
}